# Venv
venv/
.env/

# Cache
__pycache__/
*.pyc

# Logs
*.log

# Jupyter
notebooks/.ipynb_checkpoints/
*.ipynb

# Data & Artifacts
src/data/split/*.csv
src/data/processed/*.csv
src/data/raw/*.csv
src/data/artifacts/*.joblib
src/data/artifacts/*.pkl

